<header><!-- header nav -->
    <div class="header-up">
        <div class="container">
            <!-- header nav -->
            <button href="#" class="nav-btn">
                <span></span>
                <span></span>
                <span></span>
                Меню
            </button>
            <nav class="nav">
                <a href="#" class="close"></a>
                <ul>
                    <li class="sub active">
                        <a href="#">О компании</a>
                        <ul>
                            <li class="active"><a href="#">Страница 1</a></li>
                            <li><a href="#">Страница 1</a></li>
                            <li><a href="#">Страница 1</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li class="sub">
                        <a href="#">Еще</a>
                        <ul>
                            <li><a href="#">Страница 1ы</a></li>
                            <li><a href="#">Страница 1</a></li>
                            <li><a href="#">Страница 1</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- header nav -->
            
            <!-- header items -->
            <div class="items">
                <a href="#" class="item"><img src="img/icon-1.png" alt="icon-1"><span>Напишите нам</span></a>
                <a href="#" class="item"><img src="img/icon-2.png" alt="icon-2"><span>Личный кабинет</span></a>
            </div>
            <!-- header items -->

        </div>
    </div>
    <div class="container">
        <a href="/" class="logo"><img src="img/logo.png" alt="logo"></a><!-- header logo -->
        
        <div class="phones"><!-- header phone -->
            <a href="#" class="phones-btn"></a>
            <ul>
                <li><a href="tel:+7 (727) 364-50-55" class="item"><img src="img/icon-3.png" alt="icon-3">+7 (727) 364-50-55</a></li>
                <li><a href="tel:+7 (771) 333-50-55" class="item"><img src="img/icon-4.png" alt="icon-4">+7 (771) 333-50-55</a></li>
            </ul>
        </div><!-- header phone -->

        <!-- header items -->
        <a href="#" class="item"><img src="img/icon-5-b.png" alt="icon-5"><span>Доставка</span></a>
        <a href="#" class="item"><img src="img/icon-6-b.png" alt="icon-6"><span>Оплата</span></a>
        <!-- header items -->

        <a href="#" class="cart active"><!-- header cart -->
            <span class="count"><span class="n">15 </span> шт.</span>
            <span class="total"><span class="n">2 569 876</span> тг.</span>
        </a><!-- header cart -->
    </div>
</header><!-- header nav -->